<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <title>RRATSolve</title>
    </head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
    </script>

    <body>
        <h1>RRATSolve</h1>
        <hr>

        <div id='error-container'>
            <div class='error-header'>Error:</div>
            <div class='error-msg'>{{error}}</div>
        </div>

        <hr id='footer-sep'>
        <footer>
            <div>RRATSolve v{{version}}</div>
            <div>Author: Vincent Morello</div>
        </footer> 
    </body>
</html>