<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>RRATSolve</title>
    </head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
    </script>

    <body>
        <h1>RRATSolve WebApp</h1>
        <hr>

        <form id="input" action="http://localhost:5000/solve" method="get">
            <label>TOAs</label>
            <br>
            <textarea name="toas" rows="10" cols="40"></textarea>
            <br><br>

            <label>Estimated TOA RMS Uncertainty (s)</label>
            <br>
            <textarea name="uncertainty" rows="1" cols="40" id="uncertainty">0.01</textarea>
            <br><br>

            <input type="submit" id="solve" value="Solve">
        </form>

    </body>
</html>